@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.Hola Mundo Diego Mendez Puente 20660068/h1>
    <p class="lead">VIDEO 2 Creacion de una aplicacion web ASP.Net Core.</p>
</div>
